vendor/etc/camera/st_license.lic
.git/objects/pack/pack-3b11995c9b27069c7988b7d5df35fffba8270e34.pack
boot.img
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/app/Photos/Photos.apk
