vendor/etc/camera/st_license.lic
boot.img
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/app/Photos/Photos.apk
